
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  padding: 10px;
}

.icon-table-list {
  font-size: 30px;
}

.todo-app {
  background-color: #fff;
  max-width: 400px;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(250, 249, 249, 0.2);
}

#todo-heading {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  gap: 10px;
  padding: 15px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-table-list, h1{
    font-family: "Passero One", sans-serif;
    font-size: clamp(18px, 4vw, 28px);
}

#todo-input-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

#todo-input {
  flex: 1;
  padding: 10px;
  outline: none;
  border: 2px solid #212121;
  border-radius: 10px;
  font-family: cursive;
}

/* #todo-input:active{
    box-shadow: 0 4px 10px rgba(137, 43, 226, 0.4);    
} */

#add-btn {
  outline: none;
  border: 2px solid #212121;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  background: blueviolet;
}

#add-btn:hover {
  background: rgba(137, 43, 226, 0.6);
}

#todo-list {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}
span{
    font-family: cursive;
}

li {
  background: #9b99997b;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.7;
  font-family: cursive;
}

#delete {
  outline: none;
  border: 2px solid #212121;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  background: rgb(211, 33, 36);
}
